
* {
  bg0     : #1b182c;
  bg1     : #1b182c;
  bg2     : #1b182c;
  bg3     : #962a54;
  fg0     : #cbe3e7;
  fg1     : #cbe3e7;
  fg2     : #cbe3e7;
  red     : #f7768e;
  green   : #9ece6a;
  yellow  : #e0af68;
  blue    : #7aa2f7;
  magenta : #9a7ecc;
  cyan    : #4abaaf;

  accent: @red;
  urgent: @yellow;
}
